# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea

# Custom to this app
.coverage
.coveragerc
README.md
the_real_README.md
